.navigation {
  background-color: $color-grey;
  display: flex;
  align-items: center;
  opacity: .8;
  position: fixed;
  width: 100%;
  z-index: 1;

  &__mainLogo {
    width: 37rem;

    &-img{
      width: 100%;

    }
  }

  &__items {
    display: flex;
    justify-content: space-evenly;
    width: 74rem;
  }

  &__search{
    width: 38.8rem;

    &-box {
      border: none;
      border-bottom: .5px solid blacK;
      position: relative;
      width: 34rem;
    }

    &-button {
      height: 1.73rem;
      width: 1.73rem;
      margin-left: 1rem;
    }
  }

  &__icons {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 30rem;

    &-individual{

      &__share{
        height: 2.3rem;
        width: 2.3rem;
      }

      &__twitter{
        height: 1.93rem;
        width: 2.35rem;
      }
    }
  }

  @media(max-width: 718px) {
    &__mainLogo {
      display: none;
    }
  }
}
